 <h3 class="text-center mt-5">Triệu chứng của bạn</h3>
<div style="display: flex;">

    <div class="check-group" id="symptomCheckboxes0">

    </div>
     <div class="check-group" id="symptomCheckboxes1">

    </div>
     <div class="check-group" id="symptomCheckboxes2">

    </div>
     <div class="check-group" id="symptomCheckboxes3">

    </div>
     <div class="check-group" id="symptomCheckboxes4">

    </div>
    
</div>

<script>
    const symptomsDictionary = {
    "itching": "Ngứa",
    "skin_rash": "Nổi mẩn",
    "nodal_skin_eruptions": "Nổi ban da",
    "continuous_sneezing": "Sổ mũi liên tục",
    "shivering": "Rùng mình",
    "chills": "Lạnh lẽo",
    "joint_pain": "Đau khớp",
    "stomach_pain": "Đau bụng",
    "acidity": "Nồng trong dạ dày",
    "ulcers_on_tongue": "Vết loét ở lưỡi",
    "muscle_wasting": "Mất cơ",
    "vomiting": "Buồn nôn",
    "burning_micturition": "Tiểu tiện rát",
    "spotting_urination": "Tiểu tiện có đốm",
    "fatigue": "Mệt mỏi",
    "weight_gain": "Tăng cân",
    "anxiety": "Lo lắng",
    "cold_hands_and_feets": "Tay và chân lạnh",
    "mood_swings": "Thay đổi tâm trạng",
    "weight_loss": "Giảm cân",
    "restlessness": "Không yên",
    "lethargy": "Buồn ngủ",
    "patches_in_throat": "Mảng trắng trong họng",
    "irregular_sugar_level": "Đường huyết không đều",
    "cough": "Ho",
    "high_fever": "Sốt cao",
    "sunken_eyes": "Mắt lồi",
    "breathlessness": "Khó thở",
    "sweating": "Đổ mồ hôi",
    "dehydration": "Mất nước",
    "indigestion": "Khó tiêu hóa",
    "headache": "Đau đầu",
    "yellowish_skin": "Da vàng",
    "dark_urine": "Nước tiểu đậm màu",
    "nausea": "Buồn nôn",
    "loss_of_appetite": "Mất khẩu",
    "pain_behind_the_eyes": "Đau sau mắt",
    "back_pain": "Đau lưng",
    "constipation": "Táo bón",
    "abdominal_pain": "Đau bụng",
    "diarrhoea": "Tiêu chảy",
    "mild_fever": "Sốt nhẹ",
    "yellow_urine": "Nước tiểu màu vàng",
    "yellowing_of_eyes": "Những bộ phận mắt vàng",
    "acute_liver_failure": "Mất chức năng gan cấp",
    "fluid_overload": "Tăng nhiễm nước",
    "swelling_of_stomach": "Sưng bụng",
    "swelled_lymph_nodes": "Sưng nút huyết khối",
    "malaise": "Tình trạng tồi tệ",
    "blurred_and_distorted_vision": "Tầm nhìn mờ và biến dạng",
    "phlegm": "Đờm",
    "throat_irritation": "Kích thích họng",
    "redness_of_eyes": "Mắt đỏ",
    "sinus_pressure": "Áp lực xoang mũi",
    "runny_nose": "Chảy nước mũi",
    "congestion": "Tắc nghẽn",
    "chest_pain": "Đau ngực",
    "weakness_in_limbs": "Yếu đuối ở cả chi",
    "fast_heart_rate": "Nhịp tim nhanh",
    "pain_during_bowel_movements": "Đau khi đi tiêu",
    "pain_in_anal_region": "Đau ở khu vực hậu môn",
    "bloody_stool": "Chảy máu từ hậu môn",
    "irritation_in_anus": "Kích thích ở hậu môn",
    "neck_pain": "Đau cổ",
    "dizziness": "Chói lọi",
    "cramps": "Co giật",
    "bruising": "Thâm tím",
    "obesity": "Béo phì",
    "swollen_legs": "Chân sưng",
    "swollen_blood_vessels": "Mạch máu sưng",
    "puffy_face_and_eyes": "Mặt và mắt sưng",
    "enlarged_thyroid": "Tăng kích thước tuyến giáp",
    "brittle_nails": "Móng giòn",
    "swollen_extremeties": "Các chi sưng",
    "excessive_hunger": "Thèm ăn quá mức",
    "extra_marital_contacts": "Quan hệ tình dục ngoại tình",
    "drying_and_tingling_lips": "Môi khô và cảm giác châm châm",
    "slurred_speech": "Nói lắp bắp",
    "knee_pain": "Đau đầu gối",
    "hip_joint_pain": "Đau khớp háng",
    "muscle_weakness": "Yếu cơ",
    "stiff_neck": "Cổ cứng",
    "swelling_joints": "Các khớp sưng",
    "movement_stiffness": "Cứng cơ khi vận động",
    "spinning_movements": "Chuyển động quay vòng",
    "loss_of_balance": "Mất cân bằng",
    "unsteadiness": "Thiếu vững",
    "weakness_of_one_body_side": "Yếu ở một bên cơ thể",
    "loss_of_smell": "Mất khả năng ngửi",
    "bladder_discomfort": "Khó chịu ở bàng quang",
    "foul_smell_of_urine": "Mùi nước tiểu khó chịu",
    "continuous_feel_of_urine": "Cảm giác tiểu tiện liên tục",
    "passage_of_gases": "Chảy khí",
    "internal_itching": "Ngứa nội tiết",
    "toxic_look_(typhos)": "Tình trạng ngoại hình độc hại (thương hàn)",
    "depression": "Trầm cảm",
    "irritability": "Dễ cáu kỉnh",
    "muscle_pain": "Đau cơ",
    "altered_sensorium": "Thay đổi ý thức",
    "red_spots_over_body": "Đốm đỏ trên cơ thể",
    "belly_pain": "Đau bụng dưới",
    "abnormal_menstruation": "Kinh nguyệt bất thường",
    "dischromic_patches": "Đốm màu không đồng đều",
    "watering_from_eyes": "Nước mắt",
    "increased_appetite": "Tăng cảm giác ngon miệng",
    "polyuria": "Tiểu tiện nhiều",
    "family_history": "Tiền sử gia đình",
    "mucoid_sputum": "Đờm nhầy",
    "rusty_sputum": "Đờm màu gỉ",
    "lack_of_concentration": "Thiếu tập trung",
    "visual_disturbances": "Rối loạn thị giác",
    "receiving_blood_transfusion": "Nhận máu",
    "receiving_unsterile_injections": "Tiêm không đảm bảo vệ sinh",
    "coma": "Hôn mê",
    "stomach_bleeding": "Chảy máu dạ dày",
    "distention_of_abdomen": "Phình bụng",
    "history_of_alcohol_consumption": "Lịch sử tiêu thụ rượu bia",
    "fluid_overload": "Tăng nhiễm nước",
    "blood_in_sputum": "Máu trong đờm",
    "prominent_veins_on_calf": "Mạch nổi trên bắp chân",
    "palpitations": "Nhịp tim nhanh",
    "painful_walking": "Đau khi đi bộ",
    "pus_filled_pimples": "Mụn có mủ",
    "blackheads": "Mụn đen",
    "scurring": "Bong tróc",
    "skin_peeling": "Bong da",
    "silver_like_dusting": "Bụi bạc trên da",
    "small_dents_in_nails": "Lún nhỏ ở móng",
    "inflammatory_nails": "Nổi mẩn ở móng",
    "blister": "Nứt nước",
    "red_sore_around_nose": "Vùng đỏ sưng xung quanh mũi",
    "yellow_crust_ooze": "Chất nhầy màu vàng",
};


    for (let i = 0; i < 5; i++) {
        const checkboxContainer = document.getElementById(`symptomCheckboxes${i}`);
        // Tạo 26 checkbox từ từ điển
        let count = 0;
        for (const [key, value] of Object.entries(symptomsDictionary)) {
            if (count >= 26 * (i + 1)) {
                break; // Dừng khi đã tạo đủ 26 checkbox trong div này
            }
            if (count >= 26 * i) {
                const checkbox = document.createElement("label");
                checkbox.setAttribute("for", `myCheckbox_${key}`);
                checkbox.className = "checkbox";

                checkbox.innerHTML = `
                    <input class="checkbox__input" type="checkbox" id="myCheckbox_${key}" value="${key}">
                    <svg class="checkbox__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
                        <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
                        <path class="tick" stroke="#6EA340" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
                    </svg>
                    <span class="checkbox__label">${value}</span>
                `;

                checkboxContainer.appendChild(checkbox);
            }
            count++;
        }
    }
</script>

<style>
    body {
 
}

.check-group {
  margin-top: 50px;
  margin-left: 55px;
  background: #fff;
  max-width: 15rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 10, 0.2);
  counter-reset: total;
  counter-reset: checked;
}
.check-group > * + * {
  margin-top: 0.75rem;
}
.check-group .checkbox {
  counter-increment: total;
}
.check-group input[type=checkbox]:checked {
  counter-increment: checked;
}
.check-group__result {
  font-weight: bold;
  padding-top: 0.75rem;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.check-group__result:after {
  content: counter(checked) " / " counter(total);
  padding-left: 1ch;
}

.checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.checkbox__input {
  position: absolute;
  width: 1.375em;
  height: 1.375em;
  opacity: 0;
  cursor: pointer;
}
.checkbox__input:checked + .checkbox__icon .tick {
  stroke-dashoffset: 0;
}
.checkbox__icon {
  width: 1.375em;
  height: 1.375em;
  flex-shrink: 0;
  overflow: visible;
}
.checkbox__icon .tick {
  stroke-dasharray: 20px;
  stroke-dashoffset: 20px;
  transition: stroke-dashoffset 0.2s ease-out;
}
.checkbox__label {
  margin-left: 0.5em;
}


</style>